.rgbpanel *,
.rgbpanel *::before,
.rgbpanel *::after {
    box-sizing: border-box;
}

.rgbpanel {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 930px;
    max-width: 100%;   
}

.rgbpanel-hidden {
    position: absolute !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    padding: 0 !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
}

.rgbpanel__tools {
    padding: .8rem;
    background-color: #E5E6E8;
    border: 1px solid rgba(89,98,112,0.37);
    width: 6rem;
    border: 1px solid rgba(89, 98, 112, 0.37);
    background-color: #E5E6E8;
}

.rgbpanel__canvas {
    flex-grow: 1;
    margin-left: 2rem;
}

#panel {
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.5));
    max-width: 100%;
}

#pencil, #eraser, #panel {
    user-select: none;
}


/* tools
-------------------------------------------------------------- */

.rgbpanel__tools button {
    background-color: #fff;
    border: 2px solid transparent;
    box-shadow: none;
    margin-bottom: .3rem;
    padding: 0;
    line-height: 0;
    cursor: pointer;
}

.rgbpanel__tools button.toolSelected {
    border: 2px solid #34486A;
}

.rgbpanel__tools button:nth-child(-n+5) svg {
    fill: currentColor;
}


.rgbpanel__tools button:nth-of-type(3) {
    margin-bottom: 1rem;
}

.rgbpanel__tools button:nth-of-type(5) {
    margin-bottom: 1rem;
}

#colorWrapper {
    position: relative;
}

#color {
    width: 25px;
    height: 25px;
    background-color: #00F;
    display: block;
}

#colorInput {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    padding: 0;
    border: none;
    opacity: 0;
}

#thickness-panel {
    display: none;
    margin-left: 50px;
    width: 120px;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
}

.thickness {
    height: 35px;
    margin-top: 15px;
}

.thickness:hover {
    fill: red;
}

.thickness-selected {
    fill: red;
}

.pixelBorder {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 13px;
    width: 13px;
    border: 1px solid #646464;
    background-color: #5A5A5A;
}

.pixel {
    width: 50%;
    height: 50%;
    background-color: #BABABA;
}


a {
    position: relative;
    cursor: pointer;
    font-size: 20px;
    display: inline-block;
    margin: 5px;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    text-align: center;
    line-height: 39px;
  }
  a::after{
   content: '';
   position: absolute;
    height: 100%;
    width: 20px;
    top: 0;
    right: -15px;
  }
  a:hover span {
    display: inline-block;
  }
  a span {
    filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.5));
    position: absolute;
    right: calc(-150px - 20px);
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap;
    background: white;
    border: solid 2px #bbb;
    width: 150px;
    display: none;
    z-index: 1;
  }
  
  a span::before {
    content: '';
    position: absolute;
    left: -5px;
    top: calc(50% - 5px);
    width: 0;
    height: 0;
    border-right: 5px solid #bbb;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    z-index: 1;
  }